.site-header,
.site-footer {
  background: var(--bg-section);
  border-bottom: 1px solid var(--border-color);
}

.site-header {
  padding: 1rem 2rem;
}

.site-footer {
  padding: 2rem;
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-muted);
}

main {
  display: block;
}

/* SECCIONES */
.section {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: auto;
}

.section--alt {
  background: var(--bg-section);
}

.section h2 {
  margin-bottom: 1rem;
  color: var(--accent);
}



/* =========================
   FOOTER
========================= */

.site-footer {
  background: var(--bg-section);
  border-top: 2px solid var(--accent);
  margin-top: 2rem;
  font-size: 0.9rem;
}

/* TOP */
.footer-top {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  align-items: start;
}

/* BRAND */
.footer-brand {
  text-align: center;
}

.footer-brand img {
  max-width: 50rem;
  margin: 0 auto 0.75rem;
}

.footer-brand p {
  font-weight: 600;
  color: var(--accent);
}

/* INFO */
.footer-info h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: var(--accent);
  font-size: 0.95rem;
}

.footer-info p {
  margin-bottom: 0.3rem;
  color: var(--text-muted);
}

.footer-info a {
  color: var(--text-main);
}

/* BOTTOM */
.footer-bottom p {
  margin: 0;
  color: var(--text-muted);
  font-size: 0.85rem;
  text-align: center;
}

.footer-bottom a {
  color: var(--text-muted);
}

.footer-bottom a:hover {
  color: var(--accent);
}

.footer-social {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}

/* =========================
   FOOTER RESPONSIVE
========================= */

@media (max-width: 768px) {

  .footer-top {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-info {
    margin-top: 1rem;
  }

  .footer-brand img {
    max-width: 15rem;
    margin: 0 auto 0.75rem;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}
