<footer class="site-footer">

  <div class="footer-top">

    <!-- LOGO JJCorp -->
    <div class="footer-brand">
      <img src="img/logo-final-JJ-COTP160.png" alt="JJCorp Panamá">
    </div>

    <!-- LOGO JLB -->
    <div class="footer-brand">
      <img src="img/logo-JLB.png" alt="JLB Corp">
    </div>

    <!-- INFO -->
    <div class="footer-info">
      <h4>Horario</h4>
      <p>Lunes a Viernes 8am a 5pm</p>
      <p>Panamá, Provincia de Panamá</p>
      <p>Pedregal, Villa Lobos, Calle Principal</p>

      <h4>Teléfonos</h4>
      <p>Panamá: <a href="tel:+5072387824">(507) 238-7824</a> / <a href="tel:+50765878539">6587-8539</a></p>
      <p>Chiriquí David: <a href="tel:+5077305782">(507) 730-5782</a></p>
    </div>

  </div>

<div class="footer-social">

  <a href="https://www.instagram.com/jjcorppanama"
     target="_blank"
     rel="noopener noreferrer"
     aria-label="Instagram"
     class="social-icon">

    <svg class="icon" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M7 2C4.24 2 2 4.24 2 7v10c0 2.76 2.24 5 5 5h10c2.76 0 5-2.24 5-5V7c0-2.76-2.24-5-5-5H7zm10 2a3 3 0 013 3v10a3 3 0 01-3 3H7a3 3 0 01-3-3V7a3 3 0 013-3h10zm-5 3a5 5 0 100 10 5 5 0 000-10zm0 2a3 3 0 110 6 3 3 0 010-6zm4.5-.9a1.1 1.1 0 11-2.2 0 1.1 1.1 0 012.2 0z"/>
    </svg>
  </a>
</div>

<div class="footer-bottom">
  <p>
    © 2026
    <a href="https://jjcorppanama.net" title="JJCorp Panamá" rel="bookmark">
      JJCorp Panamá
    </a>
  </p>
</div>


</footer>