<nav class="navbar">
  <div class="navbar-inner">

    <!-- LOGO -->
    <a href="index.html" class="navbar-logo">
      <img src="img/logo-final-JJ-COTP160.png" alt="JJCorp Panamá">
    </a>

    <!-- LINKS -->
    <ul class="nav-links">
      <li><a href="../">Inicio</a></li>

      <li class="has-dropdown">
        <div class="dropdown-header">
          <a href="nosotros/" class="dropdown-toggle">Nosotros</a>
          <button class="dropdown-arrow" aria-label="Abrir submenú">
            <span class="arrow-icon">▾</span>
          </button>
        </div>

        <ul class="dropdown">
          <li><a href="nosotros.html#mision">Misión</a></li>
          <li><a href="nosotros.html#vision">Visión</a></li>
          <li><a href="nosotros.html#valores">Valores</a></li>
          <li><a href="nosotros.html#responsabilidad">Responsabilidad Social</a></li>
        </ul>
      </li>

      <li><a href="servicios/">Servicios</a></li>
      <li><a href="proyectos/">Proyectos</a></li>
      <li><a href="contacto/">Contacto</a></li>
    </ul>


    <button class="nav-toggle" aria-label="Abrir menú">☰</button>

    <!-- DARK MODE -->
    <button id="themeToggle" class="theme-toggle" aria-label="Cambiar tema" onclick="">
      🌙
    </button>

  </div>
</nav>